JWT_SECRET=your_secret
MAILER_USER=your_user_mailtrap
MAILER_PASS=your_password_mailtrap
TWILIO_ACCOUNT_SID=AC44bb1b0e3d8b1c2068055837e1f00da0
TWILIO_AUTH_TOKEN=44e07e0dc4778934f45e8db347c11b84
TWILIO_PHONE_NUMBER=+16416674023